
:root {
    --main1:  #c29ad9;
    --main1-faded:  #c29ad9ce;
    --main1-more-faded:  #c29ad97e;
    --c-text-primary: #515151;
    --c: #0000003d;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: linear-gradient(to top right, #7c89d5, #f599a5);
    font-family: "Be Vietnam Pro", sans-serif;
	color: var(--c-text-primary);
}

.center {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 88vh;
    display: flex;
}

.left {
    flex: 0 0 250px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    color: var(--c-text-primary)1;
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 1 1 auto;
    min-width: 500px;
    background-color: #fffffc97;
    border-radius: 0 8px 8px 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.15); 
    color: var(--c-text-primary);  
    padding: 20px;
    display: flex;
    justify-content: center;
}

.left-header {
    position: relative;
    height: 142px;
    top: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.pennynet-link-container {
    display: flex;
    justify-content: center;
}

.pennynet-link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 8px;
    color: var(--c-text-primary);
    border-radius: 6px;
    transition: .2s;
    margin: 0;
    margin-top: 10px;
    margin-bottom: -7px;
}

.pennynet-link:hover {
    transform: translate();
    transition: .2s;
    background-color: #e3bde2a7;
    box-shadow: 0px 10px 22px -4px var(--main1-more-faded);
}

.tiles {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: min-content;
    padding-top: 20px;

}::-webkit-scrollbar {
    display: none;
}



.sensor-tile {
    height: 100px;
    width: 200px;
    padding: 0px;
    margin-left: 24px;
    margin-bottom: 15px;
    background-color: #a795dea3;
    border-radius: 10px;
    box-shadow: 0px 0px 22px -8px #808080;
    transition: 0.3s;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    cursor: pointer;
}

.sensor-tile:hover {
    background-color: #c29ad9ce;

}

.sensor-tile-name-container {
    display: flex;
    justify-content: center;
}

.sensor-tile-name-alternative {
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 5px;
    color: #646464;
    font-size: 20px;
    background-color: white;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 22px -8px #8e8e8e;
    
}

.sensor-tile-name {
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
}

.sensor-tile-data {
    color: #fff;
    font-size: 20px;
}

.sensor-tile.selected {
    background-color: #c29ad9;
    margin-left: 33px;
    flex: auto;
}

.sensor-tile.selected:hover {

}

.sensor-tile-data-container {
    display: flex;
    justify-content: center;

}

.seperator {
    width: 20px;
}

.right-container {
    width: 100%;
    flex: 1, 1, auto;
}

.right-header {
    position: relative;
    height: 140px;
    top: 10px;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.graph-tile {
    margin-bottom: 22px;
    width: 100%;
    padding: 18px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 22px -8px #808080;
}

.graph-selection-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.graph-selection-tile {
    max-width: 500px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-radius: 12px;
    box-shadow: 0px 0px 22px -8px #808080;
    padding: 10px;
}

.graph-settings-tile {
    max-width: 500px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-radius: 12px;
    box-shadow: 0px 0px 22px -8px #808080;
    padding: 10px;
}

.graph-selection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    transition: height 1s;
}

.graph-settings {
    max-height: 500px;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    transition: 1s;
    margin-top: 15px;
}



.period-selection {
    max-height: 500px;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    transition: 1s;
    margin-top: 15px;
}


.period-selection-hide {
    margin-top: 0px;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    transition: 1s;
    -moz-opacity:0; 
    filter:alpha(opacity=0); 
    opacity:0;
}

.date-selector {
    background-color: rgba(255, 255, 255, 0);
    border-color: #c29ad9;
    border-style:solid;
    border-radius: 4px;
}

.graph-selector {
    border-radius: 5px;
    height: 35px;
    background-color: #eeeeee;
    transition: .15s;
    box-shadow: 0px 0px 22px -8px #8080802a;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.graph-selector:hover {
    background-color: #c29ad9ce;
    transition: ease-out .25s;
    cursor: pointer;
    color: white;
}

.graph-selector.selected {
    background-color: #c29ad9;
    color: white;
    cursor: default;
}


.period-selection-date-hide {
    width: 0px;
    overflow: hidden;

}

.period-selection-date {
    display: flex;
    width: auto;
    transition: 1s;
}


.time-selector-submit {
    border-radius: 5px;
    height: 35px;
    background-color: #eeeeee;
    transition: .15s;
    box-shadow: 0px 0px 22px -8px #8080802a;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-selector-submit:hover {
    background-color: #c29ad9ce;
    transition: ease-out .25s;
    cursor: pointer;
    color: white;
}

.selector-content {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.graph-container {
    width: 100%;
    height: 400px;
    min-width: 200px;
    overflow: hidden;
}

.graph-name {
    min-width: 200px;
}

.city-temp {
    flex: 0 0 auto;
    height: 100px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 22px -8px #808080;
}

.reload {
    flex: 0 0 auto;
    height: 100px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 22px -8px #808080;
}

.right-bottom {
    height: 30px;
}